name: "testenv-automation"

on:
  workflow_dispatch:
    inputs:
      location:
        description: 'Define the location where this test environment will be deployed to. For instance, australiaeast, australiasoutheast'
        required: true
        default: 'australiaeast'

env:
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}

jobs:
  terraform_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: '[Preparation] Checkout the Current Branch'
      uses: actions/checkout@v2
    - name: '[Notification] Initialise Slack Message'
      shell: bash
      run: |
        slack_message=$(echo "Portainer can be accessed via \`${PORTAINER_URL}\` with the credentials \`admin\` / \`Porta!ner2020\`. Finally, use the following to destroy the environment: \`${TF_VAR_prefix}\`")
        echo "##[set-output name=slack_message;]$(echo ${slack_message})"
      id: message_init
    - name: '[Notification] Notify the result'
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: "PortainerBot"
        SLACK_ICON: "https://raw.githubusercontent.com/portainer/portainer/master/app/assets/images/logo_ico.png?raw=true"
        MSG_MINIMAL: event,actions url
        SLACK_MESSAGE: ${{ steps.message_init.outputs.slack_message }}