name: 'test-automation'

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Mona the Octocat'
      home:
        description: 'location'
        required: false
        default: 'The Octoverse'
      timer:
        description: 'How long'
        required: true
        default: '60'

env:
  TERRAFORM_NAME: ${{ github.event.inputs.name }}
  TERRAFORM_LOCATION: ${{ github.event.inputs.home }}

jobs:
  terraform_deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the Current Branch
      uses: actions/checkout@v2
    - name: terraform_deploy
      shell: bash
      run: |
        echo "Hello ${{ env.TERRAFORM_NAME }}!"
        echo "- in ${{ env.TERRAFORM_LOCATION }}!"
      id: terraform_deploy
  terraform_destroy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.timer }}
    steps:
    - name: terraform_destroy
      env:
        TEMP_DECOM: 'YAY'
      shell: bash
      run: |
        echo "DESTROYING!"
        echo "Hello ${{ env.TERRAFORM_NAME }}!"
        echo "- in ${{ env.TERRAFORM_LOCATION }}!"
      id: terraform_destroy
  
