name: "testenv-deployment"

on:
  workflow_dispatch:
    inputs:
      portainer_image:
        description: 'Define Portainer image to be tested'
        required: true
        default: 'portainerci/portainer:develop'

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
    - name: '[Preparation] Checkout the test repo'
      uses: actions/checkout@v2
      with:
        name: portainer/test-automation
        ssh-key: ${{ secrets.TEST_REPO_SSH_KEY }}
    - name: '[Preparation] Portainer and Agent Image Validations'
      shell: bash
      run: |
        ls -la
    
#   deployazure:
#     if: github.event.inputs.portainer_image == 'portainerci/portainer:develop'
#     runs-on: ubuntu-latest
#     steps:
#     - name: '[Preparation] Checkout the Current Branch'
#       uses: actions/checkout@v2
#     - name: '[Notification] Initialise Slack Message'
#       shell: bash
#       run: |
#         slack_message=$(echo "Portainer can be accessed with the following details \* IP Address: \`192.168.1.1\` \* Username: \`admin\` \`n test")
#         echo "##[set-output name=slack_message;]$(echo ${slack_message})"
#       id: message_init
#     - name: '[Notification] Slackify the Message'
#       uses: LoveToKnow/slackify-markdown-action@v1.0.0
#       id: markdown
#       with:
#         text: "**Details** \n * IP Address - `192.168.1.1` \n * Password - `azure`"
#     outputs:
#       text: ${{ steps.markdown.outputs.text }}
#   deployaws:
#     if: github.event.inputs.portainer_image == 'arm'
#     runs-on: ubuntu-latest
#     steps:
#     - name: '[Preparation] Checkout the Current Branch'
#       uses: actions/checkout@v2
#     - name: '[Notification] Initialise Slack Message'
#       shell: bash
#       run: |
#         slack_message=$(echo "Portainer can be accessed with the following details \* IP Address: \`192.168.1.1\` \* Username: \`admin\` \`n test")
#         echo "##[set-output name=slack_message;]$(echo ${slack_message})"
#       id: message_init
#     - name: '[Notification] Slackify the Message'
#       uses: LoveToKnow/slackify-markdown-action@v1.0.0
#       id: markdown
#       with:
#         text: "**Details** \n * IP Address - http://192.168.1.1:9000 \n * Password - `aws`"
#     outputs:
#       text: ${{ steps.markdown.outputs.text }}
#   notification:
#     if: ${{ !failure() || !cancelled() }}
#     runs-on: ubuntu-latest
#     needs: [deployazure,deployaws]
#     steps:
#     - name: '[Notification] Preparation for Slack Message'
#       env:
#         if: needs.deployazure.outputs.text != ''
#         SLACK_MESSAGE_TEXT: ${{ needs.deployazure.outputs.text }}
#       shell: bash
#       run: |
#         echo "Azure: ${SLACK_MESSAGE_TEXT}"
#         echo "AWS: ${{needs.deployaws.outputs.text}}"
#       id: message_preparation
