name: "testenv-deployment"

on:
  workflow_dispatch:
    inputs:
      portainer_image:
        description: 'Define Portainer image to be tested'
        required: true
        default: 'portainerci/portainer:develop'

jobs:
  deployazure:
    runs-on: ubuntu-latest
    steps:
    - name: '[Preparation] Checkout the Current Branch'
      uses: actions/checkout@v2
    - name: '[Notification] Initialise Slack Message'
      shell: bash
      run: |
        slack_message=$(echo "Portainer can be accessed via * IP Address: \`192.168.1.1\` * Username: \`admin\` ")
        echo "##[set-output name=slack_message;]$(echo ${slack_message})"
      id: message_init
    - name: '[Notification] Notify the result'
      uses: slackapi/slack-github-action@v1.14.0
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      with:
        slack-message: ${{ steps.message_init.outputs.slack_message }}