name: "testenv-deployment"

on:
  workflow_dispatch:
    inputs:
      portainer_image:
        description: 'Define Portainer image to be tested'
        required: true
        default: 'portainerci/portainer:develop'

jobs:
  deployazure:
    runs-on: ubuntu-latest
    steps:
    - name: '[Preparation] Checkout the Current Branch'
      uses: actions/checkout@v2
    - name: '[Notification] Initialise Slack Message'
      shell: bash
      run: |
        slack_message=$(echo "Portainer can be accessed with the following details \* IP Address: \`192.168.1.1\` \* Username: \`admin\` \`n test")
        echo "##[set-output name=slack_message;]$(echo ${slack_message})"
      id: message_init
    - name: '[Notification] Notify the result'
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_USERNAME: "PortainerBot"
        SLACK_ICON: "https://raw.githubusercontent.com/portainer/portainer/master/app/assets/images/logo_ico.png?raw=true"
        MSG_MINIMAL: event,actions url
        SLACK_MESSAGE: ${{ steps.message_init.outputs.slack_message }}